body{
  background-image: url(/img/fondo.jpg);
  background-color: rgba(0, 0, 0, 0.6);
   background-repeat: no-repeat;
   
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}